* {
margin: 0;
padding: 0;

}
 
body {
padding: 0 0 0;
background-color: #fff;
color: #000000;
font-family: “Comic Sans MS”, Arial, Verdana, Trebuchet, sans-serif;
background-image:url(img/bg7.gif);
}
 
#header {
width: 790px;
height: 150px;
margin-left: auto;
margin-right: auto;
/*background-color: #6699ff;*/
margin-bottom:0 ;
background-image:url(img/servise1.jpg);
}


 
#nav {
width: 790px;
height: 40px;
margin-left: auto;
margin-right: auto;
/*background-color: #669698;*/
background-image:url(img/nav.jpg);
}


ul  {margin:0;
	padding:5px;
	width:780px;
	background-image:url(img/bg-button1.gif);
	background-repeat:repeat-x;
	list-style:none;
	float:right;
	
	}

ul li{float:right;
}
ul a {display:block;
	padding:17px;
	line-height:10px;
	text-decoration:none;
	/*background-image:url(img/bg-nav1.gif);*/
	background-repeat:repeat-y;
	}
 ul a:hover{color; #595959;}
 
  
#fon {
min-height:700px; height:auto !important; height:700px; width:790px;
margin-left: auto;
margin-right: auto;
background-color: #ffffff;
}
 
#menu {
margin-top: 20px;
min-height:700px; height:auto !important;
width: 181px;
position: relative;
top: 0px;
left: 0px;
float: left;
background-color: #ffffff;
border: 0 solid #999;
}
 
#content {
margin-top: 20px;
min-height:650px; height:auto !important; height:650px; width:605px;
position: relative;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
float: right;
background-color: #ffffff;
border: 0 solid #999;
}
  
 
#footer {
width: 790px;
height: 15px;
margin-left: auto;
margin-right: auto;
font-size: 5px;
background-image:url(img/footer.jpg);
}


.mater {margin-top: 5px; margin-left: 5px; border:1px solid #E1E6FF; width:98%;}
.mater_title {background-color #f6f6f6;}
.price_name {font-weight:bold; margin-top:4px;}
.price_adds {font-size:12px; margin-top:7px; margin-bottom:7px; color:#C0BCBF;}
.ton{color:#5B4BC0; text-decoration:none;}
.ton1{font-size:19px; font-style: italic; color:#23402E;}

.clear{
clear:both;
}


p.title {
background-color: #348014;
color: #ffffff;
font-weight:bold;
margin:5px;
padding:5px;
}

#coolmenu{
border: 1px solid gray; /*Стиль рамки */
border-bottom-width: 0;
width: 93%; /*Ширина меню */
background-color: #f6f6f6;  /*Фоновый цвет ячейки*/
margin:5px; /*Ширина отступов*/
}

* html #coolmenu{ 
width: 150px;/*Ширина меню для Internet Explorer*/
}

#coolmenu a{
font: bold 13px Verdana; /*Шрифт текста*/
padding: 4px; /*Внутренний отсутп текста ссылки от краев ячейки*/
padding-left: 6px;/*Внутренний отсутп текста ссылки от левого края ячейки*/
display: block;
width: 100%; /*Ширина ячейки*/
color: #000000;  /*Цвет текста*/
text-decoration: none; /*Подчеркивание у ссылок - нет*/
border-bottom: 1px solid gray;
}

html>body #coolmenu a{ 
width: auto;
}

#coolmenu a:hover{
background-color: #cccccc; /*Фоновый цвет ячейки при наведение курсора*/
color: #000000;  /*Цвет текста при наведении курсора*/
}